@media (max-width: 992px) {
    header {
        flex-wrap: wrap;
    }
    main .image {
        display: none;
    }

    .hero .menu li {
        display: inline-block;
        margin-left: 20px;
    }

    .apresentacao h2{
        text-align: center;
        font-size: 45px;
    }

    .apresentacao p {
        font-size: 20px;
    }

    .apresentacao .buttons {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .hero footer {
        display: none;
    }

    #servicos .container .info-servico h2{
        font-size: 45px;
        text-align: center;
    }
    #servicos .container .info-servico p {
        font-size: 20px;
    }

    #sobre .perfis{
        display: none;
    }
    
    #sobre .sobre-nos h2 {
        width: 300px; 
        font-size: 45px;
        text-align: center;
    }
}
